html, body{
    display:grid;
    height:100%;
    text-align:center;
    place-items:center;
    background:black;
  }

*{
    margin:0;
    padding:0;
    font-family: 'Georgia', sans-serif;
  }

#circle {
	width: 120px;
	height: 120px;
	background-color: #F34A53;
	border-radius: 100%;
	margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}

.range .sliderValue span{
    position: absolute;
    height:45px;
    width:380px;
    color: white;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(1);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
  }


